.app {
  width: 1000px;
  background-color: #dddddd;
  margin: 0px auto;
  padding: 10px;
}

.grn-header {
  background-color: #6aa84f;
  height: 150px;
}

.nav {
  display: inline-block;
  background-color: #6fa8cd;
  width: 200px;
  height:450px;
  margin-top: 20px;
  vertical-align: top;
}

.main {
  display: inline-block;
  background-color: #e0666666;
  width: 780px;
  height: 600px;
  margin-top: 20px;
  margin-left: 20px;
}

.subs {
  display: inline-block;
  background-color: #ffa966;
  width: 220px;
  height: 400px;
  margin-top: 20px;
  margin-left: 31px;
}

.ad {
  display: inline-block;
  vertical-align: bottom;
  background-color: #b4a7d6;
  width: 720px;
  height: 150px;
  margin-top: 10px;
  margin-left: 31px;
}